/** Css styling of visible cloze on the back */

cloze2 {
  display: none;
}

.cloze cloze2_w,
cloze2_w.revealed {
  display: none;
}

.cloze cloze2,
cloze2.revealed {
  display: inline;
}

cz_hide {
  display: none;
}

img[src="_cha_cha-enable.png"] {
  display: none;
}

.cz_on_active:not(:has(.cloze, .reveal-cloze2)) {
  display: none;
}

.cz_on_active:not(:has(.cloze)):has(.reveal-cloze2) {
  outline: 2px dashed #38f;
  outline-offset: -1px;
  padding: .1em;
}