/** Css styling of visible cloze on the back */

cloze2 {
  display: none;
}

.cloze cloze2_w,
cloze2_w.revealed {
  display: none;
}

.cloze cloze2,
cloze2.revealed {
  display: inline;
}

cz_hide {
  display: none;
}

img[src="_cha_cha-enable.png"] {
  display: none;
}