<style>
  cloze2.reveal-cloze2 {
    display: inline;
  }

  cloze2_w.reveal-cloze2 {
    display: none;
  }

  .cloze2-toggle {
    display: block;
    font-size: 1.5em !important;
    padding: .5em 1em;
    margin: auto;
  }
</style>

<script>
  function toggle() {
    var elements = document.querySelectorAll('cloze2, cloze2_w');
    for (var i = 0; i < elements.length; i++) {
      elements[i].classList.toggle('reveal-cloze2');
    }
  }

  // Reveal only current clozes here
  setTimeout(function () {
    var clozeBoxes = document.querySelector('.cloze cloze2_w')
    var elements = document.querySelectorAll('cloze2.' + clozeBoxes.className)
    for (var i = 0; i < elements.length; i++) {
      elements[i].style.display = 'inline'
    }
  }, 0)
</script>

<button class='cloze2-toggle' onclick='toggle()'>Toggle mask</button>