.card {
    font-family: Arial;
    font-size: 20px;
    color: black;
    background-color: white;
}

.cloze {
    font-weight: bold;
    color: blue;
}

.nightMode .cloze {
    color: lightblue;
}

cz_hide {
    display: none;
}
